body {
    font-family: Arial, sans-serif;
    background: url('photo.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #121212;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}



.step {
    display: none;
}

.active {
    display:block;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: #ffffff;
}

button:disabled {
    background-color: #a5aaa4;
}

#progress {
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}
nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-55%);
    width: auto; 
    padding: 5px 4% ;
    z-index:1000; 
}


.nav_links ul {
    display: flex;
    padding: 0;
    margin: 0px;
    list-style: none;
}

.nav_links ul li {
    padding:10px 12px;
}

.nav_links ul li a {
    color: #0f0e0e;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
}

.nav_links ul li a:hover {
    background-color: rgb(34, 139, 34);
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.nav_links ul li a:active {
    background-color: rgb(40, 188, 237);
    border-radius: 12px;
}
